.blog {
  display: flex;
}
.blog__col {
  width: 50%;
}
@media (max-width: 767px) {
  .blog {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .blog__col {
    width: 100%;
  }
}
.blog .article {
  width: 100%;
}