.burger {
  width: 26px;
  height: 21px;
  position: relative;
}
@media (min-width: 769px) {
  .burger {
    display: none;
  }
}
.burger__line {
  height: 2px;
  width: 100%;
  position: absolute;
  right: 0;
  background-color: white;
  transition: width 0.2s ease-out, transform 0.3s ease-out;
}
.burger__line:nth-child(1) {
  top: 0;
  width: 70%;
}
.burger__line:nth-child(2) {
  top: calc(50% - 1px);
}
.burger__line:nth-child(3) {
  bottom: 0;
}

#burger-input {
  display: none;
}
#burger-input:checked ~ .navigation {
  transform: translateX(0);
}
#burger-input:checked ~ .burger .burger__line {
  transform-origin: left;
}
#burger-input:checked ~ .burger .burger__line:nth-child(1) {
  width: 100%;
  transform: rotate(45deg);
}
#burger-input:checked ~ .burger .burger__line:nth-child(2) {
  width: 0;
}
#burger-input:checked ~ .burger .burger__line:nth-child(3) {
  transform: rotate(-45deg);
}