*,
::after,
::before {
  box-sizing: border-box;
}

ol,
ul {
  padding: 0;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ol[class],
ul[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}�ех ul и il, у которых есть атрибут class */
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  display: block;
  max-width: 100%;
}

/* Указываем понятную периодичность в потоке данных у article */
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}