.services__main-title {
  position: absolute;
  right: 45px;
  bottom: 12px;
  color: rgba(44, 44, 44, 0.05);
  font-family: "Lato", "sans-serif";
  font-size: min(18vw, 90px);
  font-weight: bold;
  line-height: 0.9;
  pointer-events: none;
}
.services .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 30px 45px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}
.services__item {
  max-width: 292px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media (max-width: 643px) {
  .services__item {
    max-width: 100%;
  }
}
.services__title {
  font-family: "Lato", "sans-serif";
  font-size: 24px;
  line-height: 1.2;
  color: #2C2C2C;
  margin-bottom: 20px;
}
.services__description {
  line-height: 1.4;
  color: #585858;
  margin-bottom: 20px;
}
.services__footer {
  margin-top: auto;
}
.services__link {
  display: inline-block;
  text-decoration: none;
  color: #004AF2;
  transition: color 0.1s linear;
  line-height: 2;
}
.services__link::after {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #004AF2;
  transition: width 0.1s linear;
}
.services__link:hover {
  color: #FF3E2F;
}
.services__link:hover::after {
  background-color: #FD665A;
  width: 100%;
}