*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  line-height: 1;
  font-size: 15px;
  background-color: #fff;
  color: #333;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*----------------------*/
/*----------------------*/
/*----------------------*/
/* ScrollBar
====================*/
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.831372549);
  box-shadow: 0px 3px 20px 0px #6d6d6d;
  border-radius: 2px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(73, 33, 26, 0.6);
  border-radius: 5px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(73, 33, 26, 0.7607843137);
}

::-webkit-scrollbar-corner {
  background-color: #333333;
}

/* Page
====================*/
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../img/Background.jpg);
  background-size: cover;
}

.header {
  height: 50px;
  display: flex;
  flex: none;
  margin-bottom: 1px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.831372549);
  box-shadow: 0px 3px 20px 0px #6d6d6d;
}
.header__personal {
  width: 50%;
  display: flex;
}
.header__icon {
  cursor: pointer;
}
.header__icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.header__personal-info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.header__name {
  font-weight: bold;
}
.header__buttons {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__search-btn {
  margin-right: 10px;
}
.header__search-btn img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.header__call-btn img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.main {
  height: calc(100vh - 150px);
  display: flex;
}
.main__user-list {
  max-width: 200px;
  min-width: 200px;
  overflow-y: scroll;
  padding-right: 1.6px;
}
.main__chat {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 5px;
  padding-bottom: 0;
}

.contacts {
  display: flex;
  margin-top: 1px;
  margin-bottom: 2px;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.831372549);
  box-shadow: 0px 3px 20px 0px #6d6d6d;
  border-radius: 2px;
  cursor: pointer;
}
.contacts__active {
  background-color: rgba(137, 114, 110, 0.9019607843);
  color: white;
  cursor: default;
}
.contacts__icon {
  flex: none;
  margin: auto 0;
  background-color: black;
}
.contacts__icon img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.contacts__middle {
  margin-left: 3px;
  display: flex;
  flex-direction: column;
}
.contacts__name {
  font-weight: bold;
}
.contacts__end {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contacts__counter {
  font-size: 13px;
  color: gray;
}
.contacts:hover {
  background-color: rgba(137, 114, 110, 0.9019607843);
  color: white;
}
.contacts:hover .contacts__counter {
  color: white;
}
.contacts__counter .contacts:last-child {
  margin-bottom: 0;
}

.dialogue {
  display: flex;
}
.dialogue__icon {
  flex: none;
  margin-right: 5px;
}
.dialogue__icon img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.dialogue__message-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.dialogue__message {
  display: flex;
  border-radius: 10px;
  padding: 7px;
  margin-bottom: 3px;
  background-color: rgba(255, 255, 255, 0.831372549);
  box-shadow: 0px 3px 20px 0px #6d6d6d;
  border-radius: 2px;
}
.dialogue__time-message {
  font-size: 13px;
  color: gray;
  margin-left: 10px;
  justify-content: flex-end;
}

.footer {
  height: 100px;
  margin-top: 1px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.831372549);
  box-shadow: 0px 3px 20px 0px #6d6d6d;
}
.footer__wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 200px;
  margin-top: 15px;
  padding: 5px;
  box-shadow: 0px 3px 20px 0px #6d6d6d;
  border-radius: 5px;
}
.footer__wrapper img, .footer__wrapper button, .footer__wrapper input {
  background-color: rgba(255, 255, 255, 0);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}
.footer__wrapper img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.footer__attach {
  margin-right: 5px;
}
.footer__input {
  outline: none;
  flex: 1;
  font-size: 30px;
  min-width: 15px;
}
.footer__smile {
  margin-left: 5px;
}
.footer__send-button {
  margin-left: 5px;
}