.expand-button {
  display: none;
}

.ProjectPage {
  .expand-button {
    display: block;
    position: absolute;
    bottom: -25px;
    right: 50px;

    padding: 0;

    width: 25px;
    height: 25px;

    button {
      background: #2f244b;
      border: none;
      padding: 0;

      width: 25px;
      height: 25px;

      cursor: pointer;
    }
  }

  header {
    position: fixed;
    transition: transform 0.2s ease-out;
    transform: translateY(-100%);
    z-index: 1;

    .expand-button button {
      transform: rotate(0deg);
      transition: transform 0.2s ease-out;
    }
  }

  header.show {
    transform: translateY(0);

    .expand-button button {
      transform: rotate(180deg);
    }
  }
}